@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);

.even {
  font-family: "Open Sans", sans-serif;
  background: rgba(0, 128, 0, 0.329);
  color: rgba(255, 68, 0, 0.815);
  font-size: 25px;
  border: 1px solid blue;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.308);
  padding: 10px;
}
.odd {
  border: 1px solid red;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  padding: 10px;
  text-shadow: 20px 6px 0px rgba(0, 0, 0, 0.5);
}
h1 {
  text-align: center;
}
